@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&display=swap');
* {
    margin:0px; 
    padding:0px;
}

html, body {
    font-family: 'Open Sans' , sans-serif;
    background-color:rgb(5, 5, 24);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 20px 30px;
    color: white;
}

.links {
    display:flex;
    gap: 40px;
}

a {
    text-decoration: none;
    color:white;
}

.hero {
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height:100vh;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center; 
}

.center-hero-content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    color:white;
    flex-grow:1;
    margin-top:-100px;
}

.center-hero-content h1 {
    font-size: 50px;
}

.footer {
    display:flex;
    flex-direction:column;
    padding:20px;
    background-color: #2b3332;
    margin-top:auto;
    color:white;
}

.credit {
    text-align:center;
}