* {
    margin:0px; 
    padding:0px;
}

@font-face {
    font-family: 'Watford'; /* Name you will use in your CSS */
    src: url('./font/watford.woff2') format('woff2'), /* Modern browsers */
         url('./font/watford.woff') format('woff');   /* Fallback */
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Watford' , sans-serif;
    background-color:rgb(5, 5, 24);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 20px 30px;
    color: white;
}

.links {
    display:flex;
    gap: 40px;
}

a {
    text-decoration: none;
    color:white;
}

.hero-block {
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height:100vh;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center; 
}

.center-hero-content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    color:white;
    flex-grow:1;
    font-size:25px;
}

.center-hero-content h1 {
    font-size: 50px;
    font-weight:700;
}

.about-block {
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color:black;
    padding: 100px;
}

.about-block img {
    width:400px;
    height:auto;
    border-radius: 500px;
}

.about-text {
    display:flex;
    flex-direction:column;
    color:white;
    width:500px;
    height: 400px;
    justify-content:baseline;
    font-size:16px;
}

.about-text h1 {
    font-size:50px; 
    margin-bottom:5px;
}

.about-text p {
    margin-bottom:15px;
}

.footer {
    display:flex;
    flex-direction:column;
    padding:20px;
    background-color: #2b3332;
    margin-top:auto;
    color:white;
}

.credit {
    text-align:center;
}