* {
    margin:0px; 
    padding:0px;
}

@font-face {
    font-family: 'Watford'; /* Name you will use in your CSS */
    src: url('./font/watford.woff2') format('woff2'), /* Modern browsers */
         url('./font/watford.woff') format('woff');   /* Fallback */
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Watford' , sans-serif;
    background-color:rgb(5, 5, 24);
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

/* This starts the content of the page, header and hero */
.header {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 20px 30px;
    color: white;
}

.links {
    display:flex;
    gap: 40px;
}

a {
    text-decoration: none;
    color:white;
    font-weight:600;
    font-size:18px;
}

.hero-block::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.hero-block {
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height:100vh;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.center-hero-content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    color:white;
    flex-grow:1;
    font-size:25px;
}

.center-hero-content h1 {
    font-size: 50px;
    font-weight:700;
}

/* This starts the second section of the page, the about me section*/

.about-block {
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color:#2d3b66;
    padding: 100px;
}

.about-block .self-picture {
    width:400px;
    height:auto;
    border-radius: 500px;
    border: 3px solid white;
}

.about-text {
    display:flex;
    flex-direction:column;
    color:white;
    width:550px;
    height: 400px;
    justify-content:center;
    font-size:18px;
}

.about-text h1 {
    font-size:50px; 
    margin-bottom:5px;
}

.about-text p {
    margin-bottom:15px;
}

.technology {
    display: flex;
    gap: 15px;
  }


.technology img {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    background-color: white;
    padding: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

/* This starts the project section of the webpage.*/

.project-block {
    display:flex;
    flex-direction: column;
    color:white;
    align-items:center;
    padding:250px 100px;
    background-color:#1a1f3a;
}

.project-cards {
    display:flex;
    justify-content:space-around;
    width:100%;
    margin:50px;
}

.project {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:400px;
    height:200px;
    border-style:solid;
    border-color:rgb(255, 255, 255);
    border-radius: 30px;
}


.footer {
    display:flex;
    flex-direction:column;
    padding:20px;
    background-color: #2b3332;
    margin-top:auto;
    color:white;
}

.credit {
    text-align:center;
}